<h3>Campaign</h3>

@code {
    // TODO: This component represents a single campaign
    private string dungeonMaster;
    private string[] players;
    private Map[] maps; // TODO: A campaign can show a bunch of basic information about the maps in the campaign (without trying to render them).

}
