@inject IJSRuntime JsRuntime;

<head>
    <title>Maps/@Name</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 720px;
            width: 960px;
        }
    </style>
</head>

<body>
    <h1>@Name</h1>
    <div id="map"></div>
</body>

@code {
    // TODO: This component handles a single instance of a Google Maps API map.
    // TODO: This class knows how to read a map content folder.

    [Parameter]
    public string Name { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initialiseApi");
        }
    }
}
