@page "/maps"
@using System.Text.Json
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

@if (maps == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <head>
        <title>@maps[0].Name</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 720px;
                width: 960px;
            }
        </style>
    </head>

    <body>
    <h1>@maps[0].Name</h1>
    <div id="map"></div>
    </body>
}

@code {

    private Map[] maps;

    protected override async Task OnInitializedAsync()
    {
        // Load the map json.
        maps = await Http.GetJsonAsync<Map[]>("map-data/forgottenRealms.json");

        // Initialise the map API.
        string jsonString = JsonSerializer.Serialize(maps[0]);
        await JsRuntime.InvokeVoidAsync("initialiseApi", jsonString);
    }

    public class Map
    {
        public string Name { get; set; }

        public Marker[] Markers { get; set; }
    }

    public class Marker
    {
        public string Title { get; set; }

        public double Latitude { get; set; }

        public double Longitude { get; set; }

        public string Description { get; set; }
    }

}